<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TrailWeather</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

      <% var input; %>
      <% if (currentUser) { %>
        <% input = currentUser.id; %>
      <% } %>

    <nav class="mobile">
      <a class="active" href="/">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp TrailWeather</a>
      <div class="links">
        <a href="/">Home</a>
        <a href="/locations/<%= input %>">Your Locations</a>
        <a href="/trails/<%= input %>">Your Trails</a>
        <a href="/search">Search Locations</a>
        <% if (!currentUser) { %>
          <a href="/auth/login">Login</a>
          <a href="/auth/signup">Signup</a>
          <% } else { %>
            <a href="/profile">Profile</a>
            <a href="/auth/logout">Logout</a>
          <% } %>
      </div>
      <a href="javascript:void(0);" class="hamburger" onclick="showMenu()"><i class="fa fa-bars"></i></a>
    </nav>

    <script>
      function showMenu() {
        let links = document.querySelector('.links');
        if (links.style.display === 'block') {
          links.style.display = 'none';
        } else {
          links.style.display = 'block';
        }
      }
      </script>

    <nav id="desktop">
      <div class="left-nav">
        <a href="/">Home &nbsp</a> | &nbsp
        <a href="/locations/<%= input %>"> Your Locations &nbsp</a> | &nbsp
        <a href="/trails/<%= input %>"> Your Trails </a> 
      </div>
      <div class="middle-nav">
        <h2><a id="title" href="/">TrailWeather</a></h2>
      </div>
      <div class="right-nav">
        <a href="/search">Search Locations &nbsp</a> | &nbsp
        <% if (currentUser) { %>
          <a href="/profile"><%= currentUser.name %>&nbsp</a> | &nbsp
          <a href="/auth/logout"> Logout </a>
        <% } else { %>
          <a href="/auth/login"> Login | &nbsp</a>
          <a href="/auth/signup"> Signup </a>
        <% } %>  
      </div>
    </nav>

    <main class="container">
      <% include partials/alerts %>
      <%- body %>
    </main>

    <footer>
    <a href="https://darksky.net/poweredby/">Powered by Dark Sky</a>
    <a class="right-atag" href="https://github.com/Brandon205/WeatherApp">Github</a>
    <a class="right-atag" href="https://www.linkedin.com/in/brandonblack02/">LinkedIn</a>
    </footer>

  </body>
</html>
