<h1>Weather info</h1>
<p><%= weatherInfo.currently.summary %></p>

<form action="/locations" method="POST">
  <input type="hidden" name="city" value="<%= locName %>">
  <input type="hidden" name="lat" value="<%= weatherInfo.latitude %>">
  <input type="hidden" name="long" value="<%= weatherInfo.longitude %>">

  <input type="submit" value="Add to Your Locations">
</form>

<% trails.forEach(function(trail) { %>
  <p class="inline"><%= trail.name %></p>
  <form action="/trails" method="POST">
    <input type="hidden" name="name" value="<%= trail.name %>">
    <input type="hidden" name="idnum" value="<%= trail.id %>">
    <input type="submit" value="Add to Your Trails">
  </form>
<% }) %>