<h1><%= trail.name %></h1>

<img class="trail-img" src="<%= trail.imgMedium %>" alt="Image of hike">
<h4><%= trail.summary %></h3>
<form action="/trails" method="POST">
  <input type="hidden" name="id" value="<%= currentUser.id %>">
  <input type="hidden" name="name" value="<%= trail.name %>">
  <input type="hidden" name="idnum" value="<%= trail.id %>">
  <input class="add-submit" type="submit" value="Add to Your Trails">
</form>

<div class="info-container trail-info">
  <div>
    <h3>Elevation</h3>
    <h4>Ascent: <%= trail.ascent %>ft</h4>
    <h4>Descent: <%= trail.descent %>ft</h4>
    <h4>High: <%= trail.high %>ft</h4>
    <h4>Low: <%= trail.low %>ft</h4>
  </div>

  <div>
    <h3>Trail Details</h3>
    <h4>Length: <%= trail.length %>mi</h4>
    <h4>Difficulty: <%= trail.difficulty %> </h4>
  </div>

  <div class="trail-weather">
    <p>Want to see the best day to go?</p>
    <form action="/weather" method="POST">
      <input type="hidden" name="lat" value="<%= trail.latitude %>">
      <input type="hidden" name="long" value="<%= trail.longitude %>">
      <input type="hidden" name="name" value="<%= trail.name %>">
      <input class="submit" type="submit" value="View Details">
    </form>
  </div>
</div>

<div id='map' style='width: 400px; height: 300px;'></div>
<script>
  let long = <%- Number(trail.longitude) %>;
  let lat = <%- Number(trail.latitude) %>;
  let name = <%- JSON.stringify(trail.name) %>;

  mapboxgl.accessToken = 'pk.eyJ1IjoiYnJhbmRvbjIwNSIsImEiOiJjazFzZXB6ZHEwMjV2M2Jtd3NhaDh6dnFqIn0.sZ7plho546gq4TBKteOPYw';  
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-96, 40.8],
  zoom: 2
  });
  map.on('load', function () {
  map.addLayer({
    "id": "points",
    "type": "symbol",
    "source": {
      "type": "geojson",
      "data": {
        "type": "FeatureCollection",
        "features": [{
          "type": "Feature",
          "geometry": {
            "type": "Point",
            "coordinates": [long, lat]
          }
        }]
      }
    },
    "layout": {
      "icon-image": "mountain-15",
      "icon-size": 1.25,
      "text-field": name,
      "text-anchor": "top",
      "text-offset": [0, .7]
    }
  });
  });
</script>

<p>For more information on <%= trail.name %> click <a href="<%= trail.url %>">here</a>.</p>